
/* Global Styles */
*{
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.container {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    position: relative; /* Ensure relative positioning for absolute children */
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Rest of the CSS remains the same */

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Header Styles */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 97%;
}

button, .button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #0056b3;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.button-red {
    display: inline-block;
    padding: 8px 16px;
    background-color: #212121; /* Black color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

.button-red:hover {
    background-color: #f44336; /* Red */
}

/* styles.css */

/* Global Styles */
* {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    position: relative; /* Ensure relative positioning for absolute children */
}

.button {
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-red {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545; /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-red:hover {
    background-color: #c82333; /* Darker red on hover */
}

.table-container {
    max-height: 500px; /* Adjust max height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
